h1 {color:#33ffff;}
h2 {border-style: ridge;
    border-width: 20px;
}
img {width: 500px;}
.mybackground{background-color:#ffff00
;
}
.purple {
    color:purple;
}
.about  {
    color:#62249b;
}
  ul li {
      display: inline-block;
  }